.content {
    width: 90%;
    margin: 1.3rem auto auto auto;
}

.title {
    text-align: center;
    margin-bottom: 3.2rem;
}

.title h1 {
    font-size: large;
    color: #768b8be7;
    font-weight: 550;
}

.table {
    width: 100%;
}