img {
    height: 2.5rem;
    
}

.header {
    justify-content: center;
    height: 10%;
    
}

span {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 1rem;
    font-size: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}