.footer {
    position: fixed;
    bottom: 0;
    justify-content: flex-end;
    font-size: 1.2rem;
    height: 5%;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}